---
layout: single
classes: wide
---

{{ content }}

<h2>Monthly statement</h2>

{% assign monthly-report = site.data.monthly-performance-summary | find: "Month", page.month %}
{% assign closed-positions = site.data.closed-positions | where: "Closed month", page.month | jsonify %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">&nbsp;</th>
      <th scope="col" class="text-right">Current month ($USD)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Opening balance</td>
      <td class="text-right"><strong>{{ monthly-report['Opening balance'] | money_from_amount }}</strong></td>
    </tr>
    <tr>
      <td>Deposits & Withdrawals</td>
      <td class="text-right">{{ monthly-report['Deposits & withdrawals'] | money_from_amount }}</td>
    </tr>
    <tr>
      <td>Change in balance (P/L, monthly)</td>
      <td class="text-right">{{ monthly-report['Change in balance'] | money_from_amount }}</td>
    </tr>
    <tr>
      <td>Closing balance</td>
      <td class="text-right"><strong>{{ monthly-report['Closing balance'] | money_from_amount }}</strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>P/L, cumulative</td>
      <td class="text-right">{{ monthly-report['P/L, cumulative'] | money_from_amount }}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Portfolio return</td>
      <td class="text-right">{{ monthly-report['Total return'] }}%</td>
    </tr>
    <tr>
      <td>SPY return <a href="#1"><sup>1</sup></a></td>
      <td class="text-right">{{ monthly-report['SPY return'] }}%</td>
    </tr>
  </tbody>
</table>

<p><sup>1</sup> SPY returns sourced from <a href="https://performance.morningstar.com/funds/etf/total-returns.action?t=spy">Morningstar</a>.</p>

<!-- <h2>Positions closed this month</h2>


<div id="closed-positions-table" class="table-dark"></div> -->

<script>
  var myCountCalc = function(values, data, calcParams){
    var calc = 0;

    values.forEach(function(value) {
      calc++;
    });

    return "Total closed: " + calc;
  }

  var table = new Tabulator("#closed-positions-table", {
    data: {{ closed-positions }},
    layout: 'fitDataFill',
    cellHozAlign: 'right',
    headerHozAlign: 'right',
    columns: [
    { title: 'Play', field: 'Play', hozAlign: 'left', headerHozAlign: 'left', bottomCalc: myCountCalc },
    { title: 'Gross P/L', field: 'Gross PnL', formatter: 'money', formatterParams: { symbol: '$' }, bottomCalc: 'sum', bottomCalcFormatter: 'money', bottomCalcFormatterParams: { symbol: '$' }, minWidth: 160 },
    { title: 'Fees', field: 'Total fees', formatter: 'money', formatterParams: { symbol: '$' }, bottomCalc: 'sum', bottomCalcFormatter: 'money', bottomCalcFormatterParams: { symbol: '$' }, minWidth: 140  },
    { title: 'Net P/L', field: 'Net PnL',  formatter: 'money', formatterParams: { symbol: '$' }, bottomCalc: 'sum', bottomCalcFormatter: 'money', bottomCalcFormatterParams: { symbol: '$' }, minWidth: 160  },
    ],
  });
</script>

<!-- <p><small>Powered by <a href="http://tabulator.info">Tabulator.js</a>.</small></p> -->
